<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; অভপাপ 2017</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.flickr.com/photos/ihossain/" target="_blank"><i class="fa fa-flickr"></i></a>
          </li>
          <li><a href="https://www.facebook.com/ihemu" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://www.github.com/imtiaz-emu" target="_blank"><i class="fa fa-git"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="https://about.me/iemu" target="_blank">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>