<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Coffee</h2>

        <h3 class="section-subheading text-muted">Is coffee meeting that much important?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal">
          <!--<div class="portfolio-hover">-->
            <!--<div class="portfolio-hover-content">-->
              <!--<i class="fa fa-plus fa-3x"></i>-->
            <!--</div>-->
          <!--</div>-->
          <%= image_tag "p2.jpg", class: 'img-responsive' %>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal">
          <!--<div class="portfolio-hover">-->
            <!--<div class="portfolio-hover-content">-->
              <!--<i class="fa fa-plus fa-3x"></i>-->
            <!--</div>-->
          <!--</div>-->
          <%= image_tag "p4.jpg", class: 'img-responsive' %>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal">
          <!--<div class="portfolio-hover">-->
            <!--<div class="portfolio-hover-content">-->
              <!--<i class="fa fa-plus fa-3x"></i>-->
            <!--</div>-->
          <!--</div>-->
          <%= image_tag "p5.jpg", class: 'img-responsive' %>
        </a>
      </div>
    </div>
  </div>
</section>



<%= render partial: 'shared/footer' %>



<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Coffee Party</h2>

              <p class="item-intro text-muted">Thank You for accepting my Invitation.</p>
              <i class="fa fa-coffee fa-5x"></i>

              <p>Your response will go straight to my Email address. Just fill the form below and join with me!</p>

              <form class="form-horizontal" action="<%= offer_path %>" method="post">
                <input type="hidden" value="1" name="interest">
                <div class="form-group">
                  <label for="inputEmail1" class="col-sm-2 control-label">Date</label>
                  <div class="col-sm-10">
                    <input required type="text" name="date" class="form-control" id="inputEmail1" placeholder="Date">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail2" class="col-sm-2 control-label">Place</label>
                  <div class="col-sm-10">
                    <input required type="text" name="place" class="form-control" id="inputEmail2" placeholder="Place">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword1" class="col-sm-2 control-label">Details</label>
                  <div class="col-sm-10">
                    <textarea required class="form-control" name="description" rows="3" id="inputPassword1" placeholder="Additional Comment"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10 text-right">
                    <button type="submit" class="btn btn-success">Accept</button>
                  </div>
                </div>
              </form>

              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>No Party</h2>

              <p class="item-intro text-muted">Hard to believe you took this decision!</p>
              <i class="fa fa-exclamation-triangle fa-5x"></i>

              <p>Your response will go straight to my Email address. Just fill the form below and reject the offer!</p>

              <form class="form-horizontal" action="<%= offer_path %>" method="post">
                <input type="hidden" value="0" name="interest">
                <div class="form-group">
                  <label for="inputPassword2" class="col-sm-2 control-label">Why?</label>
                  <div class="col-sm-10">
                    <textarea name="description" required class="form-control" rows="3" id="inputPassword2" placeholder="Why???"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10 text-right">
                    <button type="submit" class="btn btn-success">Reject</button>
                  </div>
                </div>
              </form>

              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close
                Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(function(){
        $(".intro-lead-in").typed({
            strings: ["It's Nice To Meet You", "I'm offering you a cup of Coffee"],
            typeSpeed: 0,
            loop: true
        });
    });
    $('#inputEmail1').datetimepicker({theme:'dark'});
</script>
