<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi </h1>
<% if @invitation == 'Reject' %>
    <p>
      <strong>Details: </strong><%= @des %>
    </p>
<% else %>
    <p>
      <strong>Date: </strong> <%= @date %>
    </p>
    <p>
      <strong>Place: </strong> <%= @place %>
    </p>
    <p>
      <strong>Details: </strong> <%= @des %>
    </p>
<% end %>
</body>
</html>
